.rightbar__friend {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.rightbar__friend:hover {
  background-color: rgb(235, 235, 235);
}

.rightbar__profile {
  margin-right: 10px;
  position: relative;
}

.rightbar__profile .profile__pic {
  width: 40px !important;
  height: 40px !important;
  object-fit: cover;
  margin-left: 5px;
}

.rightbar__online {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: -2px;
  right: 0;
  border: 1px solid white;
}

.rightbar__username {
  font-weight: 500;
  color: black;
}
